<ion-content>

  <div class="containers" *ngIf="!register">
    <p>login</p>
    <ion-item>

      <ion-icon slot="start" ios="person-circle-outline" md="person-circle-sharp"></ion-icon>
      <ion-input type="text" placeholder="Correo Electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

  </div>

  <div *ngIf="register" class="containers">
    <p>registro</p>
    <ion-item>
      <ion-icon slot="start" ios="person-circle-outline" md="person-circle-sharp"></ion-icon>
      <ion-input type="text" placeholder="Correo Electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

  </div>

</ion-content>
<ion-segment>
    <ion-segment-button (click)="changeRegister(false)">
      <ion-label>Inicias Sesión</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="changeRegister(true)">
      <ion-label>Regístrate</ion-label>
    </ion-segment-button>
  </ion-segment>
