<ion-content>

  <ion-toolbar>
    <img class="logo" src="assets/logo slash.png" />
  </ion-toolbar>

  <div class="containers">

    <ion-item>
      <ion-label position="floating">
        <p>Usuario</p>
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Email</p>
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Contraseña</p>
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Confirmar Contraseña</p>
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Teléfono</p>
      </ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Pueblo</p>
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Edad</p>
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <p>Número Electoral</p>
      </ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

    <ion-button class="register-btn" expand="block" (click)="goToHome()">Regístrate</ion-button>

  </div>
</ion-content>